<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 
    <session-factory>
 
      <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/HRDepartment</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">cfnnfh21091990</property>
 
      <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
      <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
 
      <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
 
      <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
 
      <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
 
      <!-- Mapping files -->
      <mapping class="domain.Applicant"/>
      <mapping class="domain.ApplicationForm"/>
      <mapping class="domain.Candidate"/>
      <mapping class="domain.CVFormApplicant"/>
      <mapping class="domain.CVFormManager"/>
      <mapping class="domain.CVForm"/>
      <mapping class="domain.Department"/>
	  <mapping class="domain.Employee"/>
      <mapping class="domain.Manager"/>
      <mapping class="domain.Person"/>

 
    </session-factory>
 
</hibernate-configuration>